.contact-page {
    background-color: #F0EEF3;
  }
  
  .contact-hero-section {
    background-image: url('/src/assets/1.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .contact-hero-section h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .contact-hero-section p {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1200px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 15px; /* Increase border radius for softer corners */
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1); /* Stronger shadow for more depth */
  }
  
  .contact-info {
    flex: 1;
    margin-right: 40px;
    padding: 20px;
    border-right: 1px solid #e0e0e0; /* Add a subtle border for separation */
  }
  
  .contact-info h2 {
    font-size: 2.5rem; /* Slightly larger font size */
    color: #34404a;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .contact-info p {
    font-size: 1.1rem; /* Increase font size */
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8; /* Increase line-height for better readability */
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .info-item i {
    font-size: 1.7rem;
    color: #748d75;
    margin-right: 15px;
  }
  
  .contact-form {
    flex: 1;
    padding: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px; /* Add gap between form fields */
  }
  
  .form-row input, .form-row textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Increase border radius */
    font-size: 1rem;
    color: #333;
    transition: all 0.3s ease; /* Smooth transition for hover/focus */
  }
  
  .form-row input:focus, .form-row textarea:focus {
    border-color: #748d75; /* Change border color on focus */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Add shadow on focus */
  }
  
  textarea {
    height: 150px;
    resize: none;
    width: 100%;
  }
  
  .submit-button {
    padding: 15px;
    background-color: #748d75;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transform transition */
    text-align: center;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #62715f;
    transform: translateY(-2px); /* Slight lift on hover */
  }
  
  .submit-button:active {
    transform: translateY(0); /* Reset on click */
  }  
  